@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
	--background: #dfe3ec;
	--primary: #4d4d4d;
	--accent: #2D3B7C;
	--alternate: #83da79;
}

html {
	background-color: var(--background);
	font-family: "Roboto Serif", serif;
}

body,
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.season {
	color: black;
	width: min-content;
	padding-left: 5vw;
	padding-right: 5vw;
	border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
iframe {
	width: 40vw;
	aspect-ratio: 16/9;
}


 /* Dropdown Button */
 .dropbtn {
	background-color: #2D3B7C;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	font-size: 12px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #2D3B7C;} 
